<gl-new-school-page
  [partyHasStarted]='thePartyHasStarted'
  (startTheParty)='startTheParty()'
  (goToOldSchoolWithoutParty)='goToOldSchool()'
  *ngIf='!oldSchool && !playingVideo'
></gl-new-school-page>
<gl-old-school-page *ngIf='oldSchool && !playingVideo'></gl-old-school-page>


<gl-bloody-text *ngIf='showBloodyText && !playingVideo'></gl-bloody-text>

<div class='app__video' [ngClass]="{'app__video--show': playingVideo}">
  <video
    #video
    width='100%'
    height='100%'
    preload='auto'
  >
    <source src='/assets/video/trailer.mov'>
  </video>
</div>

